<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Contact Me</h2>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="rounded p-4 form-color">
      
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control same" id="name" formControlName="name" placeholder="Your Name" />
            <div *ngIf="contactForm.get('name')!.hasError('required') && (contactForm.get('name')!.touched || contactForm.get('name')!.dirty)" class="text-danger">
              Name is required.
            </div>
          </div>
      
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control same" id="email" formControlName="email" placeholder="Your Email" />
            <div *ngIf="contactForm.get('email')!.hasError('required') && (contactForm.get('email')!.touched || contactForm.get('email')!.dirty)" class="text-danger">
              Email is required.
            </div>
            <div *ngIf="contactForm.get('email')!.hasError('email') && (contactForm.get('email')!.touched || contactForm.get('email')!.dirty)" class="text-danger">
              Please provide a valid email address.
            </div>
          </div>
      
          <div class="mb-3">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control same" id="message" formControlName="message" placeholder="Your Message"></textarea>
            <div *ngIf="contactForm.get('message')!.hasError('required') && (contactForm.get('message')!.touched || contactForm.get('message')!.dirty)" class="text-danger">
              Message is required.
            </div>
          </div>
          <div class="text-end">

              <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid">Submit</button>
          </div>
          <p class="mt-2 text-danger">{{message}}</p>
        </form>
      </div>
      
</body>
</html>

  