<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /your-repository-name/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /Optivision/index.html [L]
</IfModule>

